<style>
  body {
    background-position-x: -150px;
    background-size: 500px;
    background-image: url(<%= asset_path 'login_background.jpg' %>);
    background-attachment: fixed;
  }
</style>
<div class="container">
  <div class="center">
    <h1 class="white-text">RIDEW/ME</h1>
  </div>
  <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="container white">
    <div class="container">
      <%= render partial: "/shared/login" %>
    </div>
  </div>
</div><!-- /page -->
